In [1]:
## Import random at top if need a random generater
import random
import os
import csv
import pandas as pd
import numpy as np

In [2]:
## Declare/assigning variables
name = "Testing"
age = 5
type1 = ["Testing","Data"]
type2 = ["Mary","Rachel"]
type3 = ["Sony","Dell"]

In [3]:
# Zip all three lists together into tuples
namelists = zip(type1, type2, type3)

In [5]:
## inputting values as string, integer, or booleon
name2 = input ("Input Name: ")
age2 = int(input("Input Age: "))

Input Name: Rachel
Input Age: 37

In [6]:
##Output with and without f-string and values in jupyter
print("Test Name: " + name + ", Test Age: " + str(age))
print(f"Your Name: {name2}, Your Age: {age2}")
name

Test Name: Testing, Test Age: 5
Your Name: Rachel, Your Age: 37

'Testing'

In [7]:
##Conditionals use if, elif, else and have colons and indents
if name2 in type2:
    print("You are in type 2")
elif name2 in type3:
    print("You are in type 3")
else:
    print("You are not in a group")

You are in type 2

In [8]:
##Use random to select a random item from a list (make sure to import random)
name3 = random.choice(type3)
print ("Computer's name is: " + name3)

Computer's name is: Dell

In [9]:
## Set up a list
AgeList = [0,1,2,3]
## remove first (or given) variable
AgeList.pop(0)
## Add to end of list
AgeList.append (4)
AgeList.append (9)
## Remove from the list
AgeList.remove (9)
AgeList

[1, 2, 3, 4]

In [10]:
## len returns the length of the list
print ("The length of the list is: " + str(len(AgeList)))

The length of the list is: 4

In [11]:
## use brackets to call an item from the list by it's index number (remember starts with 0)
print ("The first name is " + type3[0] + " and the second name is " + type3[1])
## index to return the nth value of the list (remember starts with 0)
print ("You got name number: " + str(type3.index(name3) + 1))

The first name is Sony and the second name is Dell
You got name number: 2

In [12]:
age3 = random.choice(AgeList)
print ("Computer age is: " + str(age3))
for x in range(10):
    print(random.randint(1, 10))

Computer age is: 3
4
7
6
8
6
2
4
9
8
1

In [13]:
## Use range to set up a list of values strting from 0 or the first variable denoted
run = "y"
lastval = 0
while run == "y":
    Chain = int(input("How many numbers? "))
    for x in range(lastval, lastval + Chain):
        print (x)
    run = input ("Do you want to continue? (y/n) ")
    lastval = Chain +lastval

How many numbers? 2
0
1
Do you want to continue? (y/n) n

In [14]:
#HOW TO CALL IN A FILE PATH
csvpath = os.path.join('Resources', 'test.csv')
output_path = os.path.join("dummy.csv")

In [15]:
# HOW TO READ IN A CSV FILE in PYTHON
with open(csvpath, newline='') as csvfile:
    # CSV reader specifies delimiter and variable that holds contents
    csvreader = csv.reader(csvfile, delimiter=',')
    
    # Read the header row first (skip this step if there is now header)
    csv_header = next(csvreader)
    # skipp = next(csv_reader, None)
    print(f"CSV Header: {csv_header}")
    # Read each row of data after the header (if you have the row before)
    for row in csvreader:
        print(row)

CSV Header: ['\ufeffname', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber', 'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups', 'rating']
['100% Bran', 'N', 'C', '70', '4', '1', '130', '10', '5', '6', '280', '25', '3', '1', '0.33', '68.402973']
['100% Natural Bran', 'Q', 'C', '120', '3', '5', '15', '2', '8', '8', '135', '0', '3', '1', '1', '33.983679']
['All-Bran', 'K', 'C', '70', '4', '1', '260', '9', '7', '5', '320', '25', '3', '1', '0.33', '59.425505']
['All-Bran with Extra Fiber', 'K', 'C', '50', '4', '0', '140', '14', '8', '0', '330', '25', '3', '1', '0.5', '93.704912']
['Almond Delight', 'R', 'C', '110', '2', '2', '200', '1', '14', '8', '-1', '25', '3', '1', '0.75', '34.384843']
['Apple Cinnamon Cheerios', 'G', 'C', '110', '2', '2', '180', '1.5', '10.5', '10', '70', '25', '1', '1', '0.75', '29.509541']
['Apple Jacks', 'K', 'C', '110', '2', '0', '125', '1', '11', '14', '30', '25', '2', '1', '1', '33.174094']
['Basic 4', 'G', 'C', '130', '3', '2', '210', '2', '18', '8', '100', '25', '3', '1.33', '0.75', '37.038562']
['Bran Chex', 'R', 'C', '90', '2', '1', '200', '4', '15', '6', '125', '25', '1', '1', '0.67', '49.120253']
['Bran Flakes', 'P', 'C', '90', '3', '0', '210', '5', '13', '5', '190', '25', '3', '1', '0.67', '53.313813']
["Cap'n'Crunch", 'Q', 'C', '120', '1', '2', '220', '0', '12', '12', '35', '25', '2', '1', '0.75', '18.042851']
['Cheerios', 'G', 'C', '110', '6', '2', '290', '2', '17', '1', '105', '25', '1', '1', '1.25', '50.764999']
['Cinnamon Toast Crunch', 'G', 'C', '120', '1', '3', '210', '0', '13', '9', '45', '25', '2', '1', '0.75', '19.823573']
['Clusters', 'G', 'C', '110', '3', '2', '140', '2', '13', '7', '105', '25', '3', '1', '0.5', '40.400208']
['Cocoa Puffs', 'G', 'C', '110', '1', '1', '180', '0', '12', '13', '55', '25', '2', '1', '1', '22.736446']
['Corn Chex', 'R', 'C', '110', '2', '0', '280', '0', '22', '3', '25', '25', '1', '1', '1', '41.445019']
['Corn Flakes', 'K', 'C', '100', '2', '0', '290', '1', '21', '2', '35', '25', '1', '1', '1', '45.863324']
['Corn Pops', 'K', 'C', '110', '1', '0', '90', '1', '13', '12', '20', '25', '2', '1', '1', '35.782791']
['Count Chocula', 'G', 'C', '110', '1', '1', '180', '0', '12', '13', '65', '25', '2', '1', '1', '22.396513']
["Cracklin' Oat Bran", 'K', 'C', '110', '3', '3', '140', '4', '10', '7', '160', '25', '3', '1', '0.5', '40.448772']
['Cream of Wheat (Quick)', 'N', 'H', '100', '3', '0', '80', '1', '21', '0', '-1', '0', '2', '1', '1', '64.533816']
['Crispix', 'K', 'C', '110', '2', '0', '220', '1', '21', '3', '30', '25', '3', '1', '1', '46.895644']
['Crispy Wheat & Raisins', 'G', 'C', '100', '2', '1', '140', '2', '11', '10', '120', '25', '3', '1', '0.75', '36.176196']
['Double Chex', 'R', 'C', '100', '2', '0', '190', '1', '18', '5', '80', '25', '3', '1', '0.75', '44.330856']
['Froot Loops', 'K', 'C', '110', '2', '1', '125', '1', '11', '13', '30', '25', '2', '1', '1', '32.207582']
['Frosted Flakes', 'K', 'C', '110', '1', '0', '200', '1', '14', '11', '25', '25', '1', '1', '0.75', '31.435973']
['Frosted Mini-Wheats', 'K', 'C', '100', '3', '0', '0', '3', '14', '7', '100', '25', '2', '1', '0.8', '58.345141']
['Fruit & Fibre Dates; Walnuts; and Oats', 'P', 'C', '120', '3', '2', '160', '5', '12', '10', '200', '25', '3', '1.25', '0.67', '40.917047']
['Fruitful Bran', 'K', 'C', '120', '3', '0', '240', '5', '14', '12', '190', '25', '3', '1.33', '0.67', '41.015492']
['Fruity Pebbles', 'P', 'C', '110', '1', '1', '135', '0', '13', '12', '25', '25', '2', '1', '0.75', '28.025765']
['Golden Crisp', 'P', 'C', '100', '2', '0', '45', '0', '11', '15', '40', '25', '1', '1', '0.88', '35.252444']
['Golden Grahams', 'G', 'C', '110', '1', '1', '280', '0', '15', '9', '45', '25', '2', '1', '0.75', '23.804043']
['Grape Nuts Flakes', 'P', 'C', '100', '3', '1', '140', '3', '15', '5', '85', '25', '3', '1', '0.88', '52.076897']
['Grape-Nuts', 'P', 'C', '110', '3', '0', '170', '3', '17', '3', '90', '25', '3', '1', '0.25', '53.371007']
['Great Grains Pecan', 'P', 'C', '120', '3', '3', '75', '3', '13', '4', '100', '25', '3', '1', '0.33', '45.811716']
['Honey Graham Ohs', 'Q', 'C', '120', '1', '2', '220', '1', '12', '11', '45', '25', '2', '1', '1', '21.871292']
['Honey Nut Cheerios', 'G', 'C', '110', '3', '1', '250', '1.5', '11.5', '10', '90', '25', '1', '1', '0.75', '31.072217']
['Honey-comb', 'P', 'C', '110', '1', '0', '180', '0', '14', '11', '35', '25', '1', '1', '1.33', '28.742414']
['Just Right Crunchy  Nuggets', 'K', 'C', '110', '2', '1', '170', '1', '17', '6', '60', '100', '3', '1', '1', '36.523683']
['Just Right Fruit & Nut', 'K', 'C', '140', '3', '1', '170', '2', '20', '9', '95', '100', '3', '1.3', '0.75', '36.471512']
['Kix', 'G', 'C', '110', '2', '1', '260', '0', '21', '3', '40', '25', '2', '1', '1.5', '39.241114']
['Life', 'Q', 'C', '100', '4', '2', '150', '2', '12', '6', '95', '25', '2', '1', '0.67', '45.328074']
['Lucky Charms', 'G', 'C', '110', '2', '1', '180', '0', '12', '12', '55', '25', '2', '1', '1', '26.734515']
['Maypo', 'A', 'H', '100', '4', '1', '0', '0', '16', '3', '95', '25', '2', '1', '1', '54.850917']
['Muesli Raisins; Dates; & Almonds', 'R', 'C', '150', '4', '3', '95', '3', '16', '11', '170', '25', '3', '1', '1', '37.136863']
['Muesli Raisins; Peaches; & Pecans', 'R', 'C', '150', '4', '3', '150', '3', '16', '11', '170', '25', '3', '1', '1', '34.139765']
['Mueslix Crispy Blend', 'K', 'C', '160', '3', '2', '150', '3', '17', '13', '160', '25', '3', '1.5', '0.67', '30.313351']
['Multi-Grain Cheerios', 'G', 'C', '100', '2', '1', '220', '2', '15', '6', '90', '25', '1', '1', '1', '40.105965']
['Nut&Honey Crunch', 'K', 'C', '120', '2', '1', '190', '0', '15', '9', '40', '25', '2', '1', '0.67', '29.924285']
['Nutri-Grain Almond-Raisin', 'K', 'C', '140', '3', '2', '220', '3', '21', '7', '130', '25', '3', '1.33', '0.67', '40.69232']
['Nutri-grain Wheat', 'K', 'C', '90', '3', '0', '170', '3', '18', '2', '90', '25', '3', '1', '1', '59.642837']
['Oatmeal Raisin Crisp', 'G', 'C', '130', '3', '2', '170', '1.5', '13.5', '10', '120', '25', '3', '1.25', '0.5', '30.450843']
['Post Nat. Raisin Bran', 'P', 'C', '120', '3', '1', '200', '6', '11', '14', '260', '25', '3', '1.33', '0.67', '37.840594']
['Product 19', 'K', 'C', '100', '3', '0', '320', '1', '20', '3', '45', '100', '3', '1', '1', '41.50354']
['Puffed Rice', 'Q', 'C', '50', '1', '0', '0', '0', '13', '0', '15', '0', '3', '0.5', '1', '60.756112']
['Puffed Wheat', 'Q', 'C', '50', '2', '0', '0', '1', '10', '0', '50', '0', '3', '0.5', '1', '63.005645']
['Quaker Oat Squares', 'Q', 'C', '100', '4', '1', '135', '2', '14', '6', '110', '25', '3', '1', '0.5', '49.511874']
['Quaker Oatmeal', 'Q', 'H', '100', '5', '2', '0', '2.7', '-1', '-1', '110', '0', '1', '1', '0.67', '50.828392']
['Raisin Bran', 'K', 'C', '120', '3', '1', '210', '5', '14', '12', '240', '25', '2', '1.33', '0.75', '39.259197']
['Raisin Nut Bran', 'G', 'C', '100', '3', '2', '140', '2.5', '10.5', '8', '140', '25', '3', '1', '0.5', '39.7034']
['Raisin Squares', 'K', 'C', '90', '2', '0', '0', '2', '15', '6', '110', '25', '3', '1', '0.5', '55.333142']
['Rice Chex', 'R', 'C', '110', '1', '0', '240', '0', '23', '2', '30', '25', '1', '1', '1.13', '41.998933']
['Rice Krispies', 'K', 'C', '110', '2', '0', '290', '0', '22', '3', '35', '25', '1', '1', '1', '40.560159']
['Shredded Wheat', 'N', 'C', '80', '2', '0', '0', '3', '16', '0', '95', '0', '1', '0.83', '1', '68.235885']
["Shredded Wheat 'n'Bran", 'N', 'C', '90', '3', '0', '0', '4', '19', '0', '140', '0', '1', '1', '0.67', '74.472949']
['Shredded Wheat spoon size', 'N', 'C', '90', '3', '0', '0', '3', '20', '0', '120', '0', '1', '1', '0.67', '72.801787']
['Smacks', 'K', 'C', '110', '2', '1', '70', '1', '9', '15', '40', '25', '2', '1', '0.75', '31.230054']
['Special K', 'K', 'C', '110', '6', '0', '230', '1', '16', '3', '55', '25', '1', '1', '1', '53.131324']
['Strawberry Fruit Wheats', 'N', 'C', '90', '2', '0', '15', '3', '15', '5', '90', '25', '2', '1', '1', '59.363993']
['Total Corn Flakes', 'G', 'C', '110', '2', '1', '200', '0', '21', '3', '35', '100', '3', '1', '1', '38.839746']
['Total Raisin Bran', 'G', 'C', '140', '3', '1', '190', '4', '15', '14', '230', '100', '3', '1.5', '1', '28.592785']
['Total Whole Grain', 'G', 'C', '100', '3', '1', '200', '3', '16', '3', '110', '100', '3', '1', '1', '46.658844']
['Triples', 'G', 'C', '110', '2', '1', '250', '0', '21', '3', '60', '25', '3', '1', '0.75', '39.106174']
['Trix', 'G', 'C', '110', '1', '1', '140', '0', '13', '12', '25', '25', '2', '1', '1', '27.753301']
['Wheat Chex', 'R', 'C', '100', '3', '1', '230', '3', '17', '3', '115', '25', '1', '1', '0.67', '49.787445']
['Wheaties', 'G', 'C', '100', '3', '1', '200', '3', '17', '3', '110', '25', '1', '1', '1', '51.592193']
['Wheaties Honey Gold', 'G', 'C', '110', '2', '1', '200', '1', '16', '8', '60', '25', '1', '1', '0.75', '36.187559']

In [16]:
#HOW TO WRITE A CSV FILE
# Open the file using "write" mode. Specify the variable to hold the contents
with open(output_path, 'w', newline='') as csvfile:

    # Initialize csv.writer
    csvwriter = csv.writer(csvfile, delimiter=',')
    # Write the first row (column headers)
    csvwriter.writerow(['First Name', 'Last Name', 'SSN'])
    # Write the second row
    csvwriter.writerow(['Caleb', 'Frost', '505-80-2901'])

In [17]:
# open the output file, create a header row, and then write the zipped object to the csv
output_file = os.path.join("output.csv")
with open(output_file, "w", newline="") as datafile:
    writer = csv.writer(datafile)
    writer.writerow(["Option 1", "Option 2"])
    #Write a list of zipped arrays
    writer.writerows(namelists)

In [18]:
#Write an output text file
output_path = os.path.join("output.txt")
file = open(output_path,"w")
file.write("AGES\n") #\n gets you to another line
file.write("The age is: " + str(age2) + "\n")
file.close()
    
#Print the file in terminal
file = open(output_path,"r")
print (file.read())
file.close

AGES
The age is: 37

In [19]:
# HOW TO READ IN A CSV FILE in PANDAS
file_one_df = pd.read_csv(csvpath, encoding="UTF-8")

file_one_df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [20]:
# HOW TO WRITE IN A CSV FILE in PANDAS
file_one_df.to_csv(fileoutput, index=False, header=True)
file_one_df.head ()

NameError: name 'fileoutput' is not defined

In [21]:
#Reorganize columns
organized_df = file_one_df[["name", "calories", "protein", "mfr"]]
organized_df.head()

                        name  calories  protein mfr
0                  100% Bran        70        4   N
1          100% Natural Bran       120        3   Q
2                   All-Bran        70        4   K
3  All-Bran with Extra Fiber        50        4   K
4             Almond Delight       110        2   R

In [22]:
# Rename the headers to be more explanatory
renamed_df = organized_df.rename(columns={"name":"Name", "mfr": "Manufacturer"})
renamed_df.head()

                        Name  calories  protein Manufacturer
0                  100% Bran        70        4            N
1          100% Natural Bran       120        3            Q
2                   All-Bran        70        4            K
3  All-Bran with Extra Fiber        50        4            K
4             Almond Delight       110        2            R

In [52]:
#List of unique manufacturers
renamed_df["Manufacturer"].unique()

array(['N', 'Q', 'K', 'R', 'G', 'P', 'A'], dtype=object)

In [24]:
#Number of unique anythings # Can also do min/max/sum/mean
renamed_df.nunique()

Name            77
calories        11
protein          6
Manufacturer     7
dtype: int64

In [48]:
#set one of the columns as the index using set_index and specify the column
Man_df = renamed_df.set_index("Manufacturer")
Man_df.head()

                                   Name  calories  protein
Manufacturer
N                             100% Bran        70        4
Q                     100% Natural Bran       120        3
K                              All-Bran        70        4
K             All-Bran with Extra Fiber        50        4
R                        Almond Delight       110        2

In [49]:
# Loc will filter for items indexed and return specific columns
# Use : empty to use slice function instead of any of the values
# | for OR and & for AND
Select_df = Man_df.loc[["G", "R"],["Name", "calories"]]
Select_df.head()

                                 Name  calories
Manufacturer
G             Apple Cinnamon Cheerios       110
G                             Basic 4       130
G                            Cheerios       110
G               Cinnamon Toast Crunch       120
G                            Clusters       110

In [41]:
# iloc to get the ranges of rows comma ranges of columns REMEMBER 0 index and includes last value
iloc_df = Select_df.iloc[0:4,0:1]
iloc_df

                                 Name
Manufacturer
G             Apple Cinnamon Cheerios
G                             Basic 4
G                            Cheerios
G               Cinnamon Toast Crunch

In [51]:
Only_100_df = Select_df.loc [Select_df["calories"]>= 100]
Only_100_df.head()

                                 Name  calories
Manufacturer
G             Apple Cinnamon Cheerios       110
G                             Basic 4       130
G                            Cheerios       110
G               Cinnamon Toast Crunch       120
G                            Clusters       110

In [ ]:
# CLEANING THE DATA
# del DF_name['column name'] to remove a column

#DF_name.columns   - gives the column names

# DF_name.count to see how many have values

# To drop missing data
# New_DF_name = DFname.dropna(how="any")

# DF_name.dtypes to tell you what the type is for each column

# You can cast the files to numberic
# DF_name['Column name']=pd.to_numeric(DF_name["Column name"])
# DFname ['Column name'].value_counts shows you unique values in the column
# You can replace some values to other values

# FILTERING
# new_DF_name = DF_name.loc[df_name["column"] == "value", :]

# GROUPING
# Grouped_DF_name = DF_name.groupby(['column'])
# Mean_DF_name = Grouped_DF_name.mean()  or sum or count etc.

# You can add new columns using operations
# DF_name ["new column"]= DF_name["column1"]+DF_name["column2"]

# You can SORT
# DF_sorted_name = DF_name.sort_values ("column", ascending=False)  defaults to true

# To reset the index
#new_df = DF_sorted_name.reset_index (drop = True)

In [ ]:
# You can group by a column and then get aggregations on the data
#grouped_df = df.groupby(['column name'])
#grouped_df.count().head(10)
#new_df = grouped_df["numeric column"].sum()
# Creating a new DataFrame using both duration and count
#grouped_summary_table = pd.DataFrame({"colomn name": [grouped_df],
#                                    "numeric column": [new_df]})
#state_summary_table.head()

In [ ]:
# MERGING
#merge_table_name = pd.merge(dataframe_name1, dataframe_name2, on="matching_column") can add optional how="outer" or left or right
# Inner join - will drop anything where both don't match by default
# For Outer join - will put NaN if missing from the other one or keep all right or all left only
# Can also optionally add suffixes =("_x", "y")

In [ ]:
# BINNING
#Creating groupings og data
bins = [0, 60, 70, 80, 90, 100] # first is less than or equal to 60
group_names = ["F", "D", "C", "B", "A"] # One less than the bin
dataframe_name["New column name"] = pd.cut(dataframe_name["Column you are binning"], bins, labels=group_names) 
#You can then get data by that binned column
dataframe_name = dataframe_name.groupby("New column name")
dataframe_name.max

In [ ]:
#MAPPING
#Only do it at the end of analysis but it changes the output of your data
#Dollars
file_df["avg_cost"] = file_df["avg_cost"].map("${:,.2f}".format)
#Thousands
file_df["population"] = file_df["population"].map("{:,}".format)
#2 decimals
file_df["other"] = file_df["other"].map("{:.2f}".format)

#to convert to float first:
file_df["other"] = file_df["other"].astype(float).map("{:.2f}".format)