In [1]:
# Import Dependencies
import pandas as pd
import os

In [2]:
# Reference the file where the CSV is located
filepath = os.path.join ("Resources","crime_incident_data2017.csv" )
# Import the data into a Pandas DataFrame
df = pd.read_csv(filepath, encoding="ISO-8859-1")

In [4]:
# look for missing values
df.count ()

Address              37365
Case Number          41032
Crime Against        41032
Neighborhood         39712
Number of Records    41032
Occur Date           41032
Occur Month Year     41032
Occur Time           41032
Offense Category     41032
Offense Count        41032
Offense Type         41032
Open Data Lat        36712
Open Data Lon        36712
Open Data X          36712
Open Data Y          36712
Report Date          41032
Report Month Year    41032
dtype: int64

In [6]:
# drop null rows
df = df.dropna(how="any")

In [7]:
# verify counts
df.count()

Address              36146
Case Number          36146
Crime Against        36146
Neighborhood         36146
Number of Records    36146
Occur Date           36146
Occur Month Year     36146
Occur Time           36146
Offense Category     36146
Offense Count        36146
Offense Type         36146
Open Data Lat        36146
Open Data Lon        36146
Open Data X          36146
Open Data Y          36146
Report Date          36146
Report Month Year    36146
dtype: int64

In [10]:
# Check to see if there are any values with mispelled or similar values in "Offense Type"
df['Offense Type'].value_counts ()

Theft From Motor Vehicle                       6947
Motor Vehicle Theft                            4689
All Other Larceny                              4558
Vandalism                                      3863
Burglary                                       2824
Shoplifting                                    2259
Identity Theft                                 1794
Simple Assault                                 1216
Drug/Narcotic Violations                       1095
Theft of Motor Vehicle Parts or Accessories    1073
Intimidation                                    900
Theft From Building                             895
False Pretenses/Swindle/Confidence Game         870
Aggravated Assault                              839
Robbery                                         608
Counterfeiting/Forgery                          448
Weapons Law Violations                          266
Credit Card/ATM Fraud                           226
Arson                                           200
Prostitution                                    145
Pocket-Picking                                   94
Purse-Snatching                                  89
Embezzlement                                     73
Stolen Property Offenses                         57
Kidnapping/Abduction                             22
Theft From Coin-Operated Machine or Device       20
Hacking/Computer Invasion                        19
Animal Cruelty                                   17
Pornography/Obscene Material                     10
Extortion/Blackmail                               8
Assisting or Promoting Prostitution               7
Drug Equipment Violations                         6
Impersonation                                     4
Wire Fraud                                        3
Commercial Sex Acts                               1
Welfare Fraud                                     1
Name: Offense Type, dtype: int64

In [14]:
# Combine similar offenses
df["Offense Type"]= df["Offense Type"].replace ({ "Robbery " :"Burglary", "Theft of Motor Vehicle Parts or Accessories": "Theft From Motor Vehicle"})
df["Offense Type"].value_counts ()

Theft From Motor Vehicle                      8020
Motor Vehicle Theft                           4689
All Other Larceny                             4558
Vandalism                                     3863
Burglary                                      2824
Shoplifting                                   2259
Identity Theft                                1794
Simple Assault                                1216
Drug/Narcotic Violations                      1095
Intimidation                                   900
Theft From Building                            895
False Pretenses/Swindle/Confidence Game        870
Aggravated Assault                             839
Robbery                                        608
Counterfeiting/Forgery                         448
Weapons Law Violations                         266
Credit Card/ATM Fraud                          226
Arson                                          200
Prostitution                                   145
Pocket-Picking                                  94
Purse-Snatching                                 89
Embezzlement                                    73
Stolen Property Offenses                        57
Kidnapping/Abduction                            22
Theft From Coin-Operated Machine or Device      20
Hacking/Computer Invasion                       19
Animal Cruelty                                  17
Pornography/Obscene Material                    10
Extortion/Blackmail                              8
Assisting or Promoting Prostitution              7
Drug Equipment Violations                        6
Impersonation                                    4
Wire Fraud                                       3
Commercial Sex Acts                              1
Welfare Fraud                                    1
Name: Offense Type, dtype: int64

In [39]:
# Create a new DataFrame that looks into a specific neighborhood
# new_DF_name = DF_name.loc[df_name["column"] == "value", :]
King_df = df.loc[df["Neighborhood"] == "King", :]
King_df.head()

,Address,Case Number,Crime Against,Neighborhood,Number of Records,Occur Date,Occur Month Year,Occur Time,Offense Category,Offense Count,Offense Type,Open Data Lat,Open Data Lon,Open Data X,Open Data Y,Report Date,Report Month Year
5,5400 BLOCK OF NE MALLORY AVE,17-900129,Property,King,1,11/28/10,11/1/10,1612,Fraud Offenses,1,Identity Theft,45.5625,-122.664,7.64799e+06,698581,1/3/17,1/1/17
390,5500 BLOCK OF NE MARTIN LUTHER KING JR BLVD,17-9250,Property,King,1,12/10/16,12/1/16,0,Larceny Offenses,1,All Other Larceny,45.5631,-122.661,7.6486e+06,698786,1/10/17,1/1/17
611,900 BLOCK OF NE ALBERTA ST,17-900046,Property,King,1,1/1/17,1/1/17,925,Larceny Offenses,1,All Other Larceny,45.5592,-122.656,7.64992e+06,697323,1/2/17,1/1/17
708,NE 6TH AVE / NE BEECH ST,17-1842,Society,King,1,1/2/17,1/1/17,2144,Weapon Law Violations,1,Weapons Law Violations,45.5495,-122.66,7.64892e+06,693827,1/2/17,1/1/17
715,1400 BLOCK OF NE ALBERTA ST,17-900118,Property,King,1,1/1/17,1/1/17,1355,Vandalism,1,Vandalism,45.5591,-122.651,7.65117e+06,697285,1/3/17,1/1/17