In [1]:
# Dependencies
import pandas as pd
import os

In [25]:
# Load in File from resources
# 'movie_scores.csv'
csvfile = os.path.join("Resources","movie_scores.csv")
fileoutput = os.path.join("lesser_movies.csv")

In [4]:
# Read and display with pandas
file_one_df = pd.read_csv(csvfile, encoding="UTF-8")

file_one_df.head()

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5
2,Ant-Man (2015),80,90,64,8.1,7.8,5.0,4.5,4.00,4.5,...,3.90,4.0,4.5,3.0,4.0,4.0,627,103660,12055,0.5
3,Do You Believe? (2015),18,84,22,4.7,5.4,5.0,4.5,0.90,4.2,...,2.70,1.0,4.0,1.0,2.5,2.5,31,3136,1793,0.5
4,Hot Tub Time Machine 2 (2015),14,28,29,3.4,5.1,3.5,3.0,0.70,1.4,...,2.55,0.5,1.5,1.5,1.5,2.5,88,19560,1021,0.5

In [6]:
# List all the columns the table provides
# .columns will also get you this
file_one_df.nunique()

FILM                          146
RottenTomatoes                 72
RottenTomatoes_User            68
Metacritic                     69
Metacritic_User                54
IMDB                           41
Fandango_Stars                  5
Fandango_Ratingvalue           21
RT_norm                        72
RT_user_norm                   68
Metacritic_norm                69
Metacritic_user_nom            54
IMDB_norm                      41
RT_norm_round                  10
RT_user_norm_round              8
Metacritic_norm_round           9
Metacritic_user_norm_round      9
IMDB_norm_round                 6
Metacritic_user_vote_count    109
IMDB_user_vote_count          146
Fandango_votes                140
Fandango_Difference             6
dtype: int64

In [9]:
# only care about Imdb, so create a new table that takes the Film and all the columns relatingto IMDB
# Could just pick the columns you need instead
film_df = file_one_df.set_index("FILM")
IMDB_df = film_df.loc[:,["IMDB", "IMDB_norm","IMDB_norm_round","IMDB_user_vote_count"]]
IMDB_df.head()

,IMDB,IMDB_norm,IMDB_norm_round,IMDB_user_vote_count
FILM,,,,
Avengers: Age of Ultron (2015),7.8,3.90,4.0,271107
Cinderella (2015),7.1,3.55,3.5,65709
Ant-Man (2015),7.8,3.90,4.0,103660
Do You Believe? (2015),5.4,2.70,2.5,3136
Hot Tub Time Machine 2 (2015),5.1,2.55,2.5,19560

In [21]:
# List only movies whose ratings are over 7 (out of 10) in IMDB
# over_seven_df = IMDB_df["IMDB"]> 7
only_over_seven_df = IMDB_df.loc[IMDB_df["IMDB"] > 7,:]
only_over_seven_df.head()

,IMDB,IMDB_norm,IMDB_norm_round,IMDB_user_vote_count
FILM,,,,
Avengers: Age of Ultron (2015),7.8,3.90,4.0,271107
Cinderella (2015),7.1,3.55,3.5,65709
Ant-Man (2015),7.8,3.90,4.0,103660
The Water Diviner (2015),7.2,3.60,3.5,39373
Shaun the Sheep Movie (2015),7.4,3.70,3.5,12227

In [24]:
# Find lesser-known movies to watch, with fewer than 20K votes
less_watched_df = only_over_seven_df.loc[only_over_seven_df["IMDB_user_vote_count"] < 20000,:]
less_watched_df.head()

,IMDB,IMDB_norm,IMDB_norm_round,IMDB_user_vote_count
FILM,,,,
Shaun the Sheep Movie (2015),7.4,3.70,3.5,12227
Love & Mercy (2015),7.8,3.90,4.0,5367
Far From The Madding Crowd (2015),7.2,3.60,3.5,12129
"McFarland, USA (2015)",7.5,3.75,4.0,13769
The End of the Tour (2015),7.9,3.95,4.0,1320

In [26]:
# Finally, export this file to an Excel spreadsheet -- without the DataFrame index.
less_watched_df.to_csv(fileoutput, index=False, header=True)
less_watched_df.head ()

,IMDB,IMDB_norm,IMDB_norm_round,IMDB_user_vote_count
FILM,,,,
Shaun the Sheep Movie (2015),7.4,3.70,3.5,12227
Love & Mercy (2015),7.8,3.90,4.0,5367
Far From The Madding Crowd (2015),7.2,3.60,3.5,12129
"McFarland, USA (2015)",7.5,3.75,4.0,13769
The End of the Tour (2015),7.9,3.95,4.0,1320